h1 {
  font-size: 3.5vw;
  color: #003763;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.col-md-12 {
  background-color: #EFF8FB;
  height: 5vh;
}

.c1 {
  height: 10vh;
}

.row.content {
  height: 75vh;
}

.col-md-8.textleft {
  height: 75vh;
}

#Background {
  height: 75vh;
}

#iUser, #iPassword {
  width: 100%;
  max-width: 200px;
}

#ErrorMessage {
  color: #FF0000;
  font-weight: bold;
}

